# Ignore Mac system files
.DS_store

# Ignore Python cache files
**/__pycache__/

# Ignore VS Code files
.vscode

# Ignore user image uploads for followed people
static/media/images/people/*

# Ignore Django migrations
weather/migrations/*

# Ignore saved api responses
weather/api-responses

# Ignore file to populate db with testing data
write.py