<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>WeatherFam</title>
        {% load static %}
        <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'weather/css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'weather/css/style.css' %}">
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ google_api_key }}"></script>
        <script src="https://unpkg.com/location-picker/dist/location-picker.min.js"></script>
    </head>
    <body>
        <!-- Add Navbar -->
        <nav class="navbar navbar-custom">
            <div class="container-fluid" style="padding: 0px;">
                <div class="navbar-header">
                    <a class="navbar-brand navbar-custom" href="/">
                        <img src="{% static 'images/favicon-white.ico' %}" alt="WF" width="30" height="30" class="d-inline-block align-top mr-2">
                        WeatherFam
                    </a>
                    <a class="navbar-brand navbar-custom" href="/">Home</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                    <li>
                        <span class="btn btn-light-custom">Hi, {{ user.first_name.title }} ({{ user.username }})</span>
                        <a class="btn btn-link btn-light-custom" href="{% url 'weather:logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li>
                        <span class="input-group">
                            <form class="form-inline" action="{% url 'weather:login' %}" method="post">
                                {% csrf_token %}
                                    <input type="text" class="form-control mr-2" placeholder="Username" name="username" >
                                    <input type="password" class="form-control mr-2" placeholder="Password" name="password" >
                                    <button class="btn btn-primary mr-2" type="submit">Login</button>
                            </form>
                            <form class="form-inline" action="{% url 'weather:registration' %}" method="get">
                                {% csrf_token %}
                                <button class="btn btn-success" type="submit">Sign Up</button>
                            </form>
                        </span>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        <!-- MAIN BODY CONTENT -->
        {% block content %}
        {% endblock %}
        
    </body>

<!-- Footer -->
<footer class="footer-custom text-center align-middle text-lg-start">
    <section class="justify-left p-4 border-bottom">
        <div class="row">
            <div class="column col-sm">Andrew Tracey, 2022.</div>
            <div class="column col-sm">Connect with me:
                <a href="https://www.linkedin.com/in/andrew-tracey/" class="me-4 mx-2" target="_blank" style="color:white; text-decoration: underline;">LinkedIn</a>
                <a href="https://github.com/andrewt110216" class="me-4" target="_blank" style="color:white; text-decoration: underline;">GitHub</a>
            </div>
            <div class="column col-sm">Powered by Tomorrow.io.</div>
        </div>
    </section>
</footer>
</html>