{% extends "weather/base.html" %}

{% block content %}


<!-- FORM FOR UPDATING PERSON DETAILS -->
<form class="m-4" enctype="multipart/form-data" action="{% url 'weather:update-person' person.id %}" method="post">
    {% csrf_token %}
    {% load static %}
    <div class="container">
        <div class="d-flex justify-content-between align-items-center mt-4">
            <span class=""><img class="card-img-left p-2" src="{% static person.image.name %}" width="100em" height="100em" alt="Profile Image"></span>
            <h2 class="">{{ person.name }}</h2>
            <div><a class="btn btn-danger" href="{% url 'weather:delete-person' person.id %}">- Delete Person</a></div>
        </div>
        <hr color=#2C3E50>
        <div class="form-group">
            <label for="name" class="form-label"><b>Name</b></label>
            <input type="text" class="form-control mb-4" value="{{ person.name }}" name="name" required>

            <label for="formFile" class="form-label"><b>Image </b>(optional). Please use a small image that is approximately square.</label>
            <input type="file" class="form-control mb-4" name="formFile">

            <label for="locationName" class="form-label"><b>Location Name </b>(the way you would like to see it displayed)</label>
            <input type="text" class="form-control mb-4" value="{{ person.location.name }}" name="locationName">

            <input type="hidden" id="lat" name="lat" value="{{ person.location.latitude }}">
            <input type="hidden" id="long" name="long"  value="{{ person.location.longitude }}">
            <h4>Select Location</h4>
            <p>Please move the pin to the desired location for {{ person.name }}. <em>In the future, we hope to provide more user-friendly options to pick a location!</em></p>
            <div id="map"></div>
            <br>
            {% load static %}
            <script src="{% static 'weather/js/map.js' %}"></script>

            {% if message %}
            <div class="alert alert-warning">
                {{ message }}
            </div>
            {% endif %}
            <button class="btn btn-primary mt-4" type="submit">Update Person</button>
        </div>
    </div>
</form>
{% endblock %}