{% extends "weather/base.html" %}

{% block content %}
    {% if user.is_authenticated %}
    <div class="card-deck m-4">
        {% for person in people %}
        <div class="card mt-4">
            <div class="card-header bg-light">
                <img class="card-img-left p-2" src="{{ MEDIA_URL }}/{{ person.image }}"
                width="100em" height="100em" alt="Person Image">
                <span class="h3 text-center">{{ person.first_name }} - {{person.location.name}}</span>
            </div> <!-- End of Card Header -->
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table text-center">
                        <tr> <!-- Header Row -->
                            <th>Today</th>
                            <th>{{ person.days.1.day_name }}</th>
                            <th>{{ person.days.2.day_name }}</th>
                        </tr>
                        <tr> <!-- Icon Row -->
                            <td class="h5"><img src="{{ MEDIA_URL }}{{ person.days.0.icon_path }}" alt="n/a"></td>
                            <td class="h5"><img src="{{ MEDIA_URL }}{{ person.days.1.icon_path }}" alt="n/a"></td>
                            <td class="h5"><img src="{{ MEDIA_URL }}{{ person.days.2.icon_path }}" alt="n/a"></td>
                        </tr>
                        <tr> <!-- Temperature Row -->
                            <td class="h5">{{ person.days.0.temp }} &deg;</td>
                            <td class="h5">{{ person.days.1.temp }} &deg;</td>
                            <td class="h5">{{ person.days.2.temp }} &deg;</td>
                        </tr>
                    </table>
                </div> <!-- End of Weather Table Container -->
            </div> <!-- End of Card Body -->
        </div> <!-- End of Card -->
        {% endfor %}
    </div> <!-- End of Card Deck -->

    {% else %} <!-- If User Not Logged In -->

    <div class="container">
        <h1>Welcome to Project Beta!</h1>
        <p class="">Please log in to view your People.</p>
    </div>

    {% endif %}
    
{% endblock %}