{% extends "weather/base.html" %}

{% block content %}
<form class="m-4" action="{% url 'weather:login' %}" method="post">
    {% csrf_token %}
    <div class="container"> 
      <h1>Login</h1>
      <hr>
      <div class="form-group">
        <label for="username"><b>User Name</b></label>
        <input id="username" class = "form-control mb-4" type="text" placeholder="Enter User Name: " name="username" required>
        <label for="psw"><b>Password</b></label>
        <input id="psw" class = "form-control mb-4" type="password" placeholder="Enter Password: " name="password" required>
      </div>
      {% if message %}
        <div class="alert alert-warning">
          {{ message }}
        </div>
      {% endif %}
      <button class="btn btn-primary" type="submit">Login</button>
    </div>
  </form>
{% endblock %}
